.signup{
 text-decoration: underline; 
font-weight: 600;
 margin:0.5rem;
}

.btn{
  background: #B9DFFF;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  text-shadow: none;
}