@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.hero-image{
background: url(https://content.asos-media.com/-/media/homepages/unisex/generic-hp/september-2022/microsoftteams-image-169---dt--.png);
background-position: center;
background-repeat : no-repeat;
background-size: cover;
height:1000px ;
position:relative;
margin:1rem;
}

.hero-text h1{
  font-family: "Outfit", sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 58px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 1.5px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color: rgb(60, 184, 106);
  background: rgba(251, 250, 250, 0.862);
}

.hero-text h3{
  position: absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.6px;
  padding: 7px;
  color: rgb(60, 184, 106);
  background: rgba(251, 250, 250, 0.862);
}
#oregano{
  max-width: 100%;
  text-align: center;
  margin: 3rem ;
  padding: 2rem;
}
#men {

  box-sizing: border-box;
  position: absolute;
  top:100%;
  left:30%;
  width: 175px;
  height: 45px;
  text-align: center;
  padding: 9px;
  cursor: pointer;
  color: rgb(13, 108, 48);
  background: rgba(251, 250, 250, 0.925);
  border: 1px solid rgb(19, 148, 66);
  border-radius: 2px;
  font-family: "Lobster";
  font-weight: bolder;
  font-style: italic;
}

  #women {

  box-sizing: border-box;
  position: absolute;
  top:100%;
  left:60%;
  width: 175px;
  height: 45px;
  padding: 9px;
  text-align: center;
  cursor: pointer;
  color: rgb(13, 108, 48);
  background: rgba(251, 250, 250, 0.925);
  border: 1px solid rgb(19, 148, 66);
  border-radius: 2px;
  font-family: "Lobster";
  font-weight: bolder;
  font-style: italic;
  }

/* .homePage body{
  margin: -1rem;
  padding: 1rem;
} */

section span{
  position: relative;
  display:  flex;
  width: 180px;
  height: 55px;
  margin: 50px ;
  perspective: 1000px;
  left:47%;
  transform:translate(-50%,-50%);
}
  section .shopnow{
  position:relative;
  align-content: center;
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;

}
section span .shopnow:before,
 section span .shopnow:after{
  position: absolute;
  content: "Shop Now";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
section span .shopnow:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
section span .shopnow:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
section span .shopnow:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
