.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav-menu {
  display: flex;
  padding: -2rem;
}

.nav-menu li {
  padding: 0 1rem;
}

.nav-menu li a {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(60, 184, 106);
}